.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 400px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 48%;
}

.checkbox-container {
  margin-top: 10px;
  margin-bottom: 10px;
}