<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email / Username</mat-label>
          <input matInput name="UserName" ngModel required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput name="Password" type="password" ngModel required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="full-width">
          Login
        </button>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <p>New user? <a routerLink="/register">Register here</a></p>
    </mat-card-footer>
  </mat-card>
</div>